*{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;

}


/* L O G O */
.logo{
    position: relative;
    display: inline-block;

}
/* T E X T O */
.titulo{
    text-align: center;
    font-size: 10vw;
    letter-spacing: 41px;
}

.pokball{
    width: 40%;
    height: auto;
    position: relative;
    top: 10%;
    right: 10%;

}

/* S E A R C H  B A R */
.buscar{
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%) !important;
    background: #C4C4C4;
    padding: 10px;
    height: 57px;
    border-radius: 40px;
}
.buscar_texto{
    border: none;
    background: none;
    outline: none;
    color: white;
    font-size:20px;
    float: left;
    line-height:60px;
    transition: .3s;
    width: 0;
}
.boton{
    width:40px;
    height: 40px;
    text-decoration: none;
    color: white;
    font-size: 30px;
}

/* C A R D S */
.pokedex_items{
    padding: 20px 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: space-between;
    min-height: 100vh;
    padding-top: 134px;
    margin: 0 auto;
    max-width: 1200px;
    justify-content: center;
}
.pokemon_cards{
    background: gray;
    width: 319px;
    height: 224px;
    border-radius: 27px;
    color: white;
    /* F L E X */
    display: flex;
    padding-left: 20px;
    border-radius:20px;
    height:200px;
    margin-top: 10px;
    overflow: hidden;
    flex-direction: column;
    margin: 10px;

}
.especie{
    display: flex;
    background-color: rgba(255, 255, 255, 0.3);
    width:5rem; 
    margin: 3px;
    line-height: 2rem;
    font-size:18px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    
}   
.pokedex_items img{
    width: 100%;
    height: 141px;
    padding-bottom: 15px;
    z-index: 10;
    
}
    .img{
        position: absolute;
        align-self: flex-end;
        padding-top: 43px !important;
        padding-right: 35px !important;
    }

.nombre_pok{
    font-size:30px;

}
.Planta{
    background: #49D0B0;
}
.Fuego{
    background: #FC6C6D;
}
.Bicho{
    background: #729F3F;
}
.Agua{
    background: #76BEFE;
}


a{
    text-decoration:none;
    text-decoration-color: none;
    color: #ffff;
}
/* R E S P O N S I V E */

@media screen and (min-width: 480px) {
    .buscar:hover> .buscar_texto{
        width:190px;
    }
}

@media screen and (min-width: 768px) {
    .buscar:hover> .buscar_texto{
        width:300px;
    }
}

@media screen and (min-width: 1024px) {
    .buscar:hover> .buscar_texto{
        width:900px;
    }
}
.pokemon_cards:hover{
    animation: bounce 0.5s linear;
}
@keyframes bounce {
    20%{
        tranform: translateY(-6px);
    }
    40%{
        tranform: translateY(0px);
    }
    60%{
        tranform: translateY(-2px);
    }
    80%{
        tranform: translateY(0px);
    }
}

/* Datos Pokemones */
.contenedor {
    display: flex;
    flex-direction: row;
}
.contenedor img{
    width: auto;
    height: 250px;
    padding-bottom: 15px;
}
.estadisticas{
    
}